html, body {
	width: 100%;
	height: 100%;
}
body	{
	padding: 2%;
	
}

.green-box {
	background-color: green;
	width: 1286px;
	height: 700px;
	border: 2px solid black;
	position: relative;
}

.list {
	display: inline-block;
	font-family: 'BPG Nino Mtavruli Bold';
	font-size: 48px;
	margin-right: 56px;
	color: white ;
    }
.navi {
	position: absolute;
	top: 37px;
	left: 37px; 
}
.list:last-child {
	margin-right: 0;
}
.img {
	position: absolute;
	top:37px;
	right: 28px;
	height: 660px;
	z-index: 4;

}
.white-box {
	position: absolute;
	width: 618px;
	height: 450px;
	background-color: white;
	left: -3px;
	bottom:-3px;
	z-index: 5;
	cursor: pointer;


}
.read {
	position: absolute;
	bottom: 0;
	right: 2px;
	color: green;
}

.created {
	position: absolute;
	bottom: 0;
	right: 0;
	color: yellow;
	text-transform: uppercase;
}

.green {
	position: absolute;
	background-color: green;
	width: 300px;
	height: 300px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	transition: all 0.5s linear 1s; 
	cursor: pointer;
	animation: myanimation 3s infinite;
}

.text-green {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)rotate(45deg);
	color: yellow;
	text-transform: uppercase;
	font-size: 38px;
	white-space: nowrap;
	/*transition: all 0.5s linear 1s;*/
	animation: myanimation1 3s infinite;
}
.white-box:hover .green {
	background-color: pink;
	
}

.white-box:hover .text-green {
	color: red;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)rotate(0deg);

}

.nav-a:hover {
	color:red;
	opacity: 0.5;
	cursor:pointer;
	transition: all 0.5s linear 0.2s;
}

/*Keyframes*/

@keyframes myanimation {
	from {top;background-color: green;transform: translate(-50%,-50%)rotate(360deg);}
	to {bottom;background-color: black; transform: translate(-50%,-50%)  }
}

@keyframes myanimation1 {
	from {background-color: grey;transform: translate(-50%,-50%)rotate(30deg);}
	to {background-color: orange; transform: translate(-50%,-50%)  }